.App {
  text-align: center;
}

.App-container {
  width: auto;
  height: 96vh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  font-size: calc(10px + 2vmin);
  color: #fefae0;
}
